.post_title {
  font-size: 3.5rem;
  margin: 0;
  font-weight: 100;
}

.post_date {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  font-weight: 900;
}

.intro {
  line-height: 1.6;
  padding: 40px 0px;
}

.featured_image {
  margin-top: 70px;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 70%;
  display: block;
  position: relative;
}

.inner_image {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.tags {
  padding: 16px 0px;
  max-width: 760px;
}

.tags h5 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1rem;

  font-weight: 700;
}

.tags span {
  font-size: 1.4rem;
}

.content {
  margin: 75px 0px;
}

.content img {
  margin: 40px auto;
  display: block;
}

.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth h2 {
  margin: 0;
  margin-top: 32px;
}

.auth input[type="password"] {
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 20px;
}

.auth input[type="password"]:focus {
  outline: none;
}

.auth input[type="submit"] {
  border: 2px solid black;
  background: transparent;
  color: black;
  border-radius: 0;
  padding: 6px 24px;
  display: block;
  margin: 20px auto;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.auth input[type="submit"]:hover {
  background: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 580px) {
  .post_title {
    font-size: 2.6rem;
  }

  .intro {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .tags span {
    font-size: 1rem;
  }
}
