.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  position: relative;
  /* position: fixed; */
}

.logo {
  width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nav {
  display: block;
}

.nav a,
.mobile_nav a {
  display: inline-block;
  padding: 40px 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.mobile_nav {
  display: none;
  width: 100%;
  min-height: 100vh;
  background: white;
  position: fixed;
  z-index: -1;
}

.burger {
  display: none;
}

@media (max-width: 600px) {
  .burger {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }

  .burger div {
    width: 2rem;
    height: 0.25rem;
    background: black;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
  }

  .burger div:first-child {
    transform: rotate(0);
  }

  .burger div:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
  }

  .burger div:nth-child(3) {
    transform: rotate(0);
  }

  .burger.open div:first-child {
    transform: rotate(45deg);
  }

  .burger.open div:nth-child(2) {
    opacity: 0;
    opacity: translateX(20px);
  }

  .burger.open div:nth-child(3) {
    transform: rotate(-45deg);
  }
  .mobile_nav {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: none;
  }
}
