.container {
  width: 100vw;
  height: 100vh;
  /* min-height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fafafa;
  margin-top: -100px;
  background-size: cover;
  overflow: hidden;
}

.bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main {
  width: 80%;
}

.main h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8vw;
  margin: 0;
}

.main h2 {
  /* font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900; */
  font-size: 1.6rem;
}

.featured {
  width: 100%;
  max-width: 800px;

  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
}

.featured_post {
  width: 50%;
  background-color: black;
  height: 100%;
}

.featured_project {
  width: 50%;
  background-color: white;
  height: 100%;
}

@media (max-width: 600px) {
  .featured {
    flex-direction: column;
  }

  .featured_post {
    width: 100%;
  }

  .featured_project {
    width: 100%;
  }

  .main h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12vw;
    margin: 0;
  }

  .main h2 {
    /* font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 900; */
    font-size: 1.2rem;
  }
}
