.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fafafa;
  margin-top: -100px;
  background-size: cover;
}

.featured {
  width: 60%;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}

.featured_post {
  width: 50%;
  background-color: black;
  height: 100%;
}

.featured_project {
  width: 50%;
  background-color: white;
  height: 100%;
}
