.content {
  width: 100%;
  padding: 70px 32px 70px 32px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer .cta {
  background: black;
  color: white;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.footer .recent {
  background: #fff;
  padding: 75px 10%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
}

.related_posts_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.related_post {
  max-width: 300px;
  /* border-bottom: 1px solid black; */
}

.related_post h3 {
  font-size: 1.4rem;
}

.featured_image {
  width: 100%;
  max-width: 100%;
  height: 200px;
  display: block;
  position: relative;
}

.inner_image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 580px) {
  .related_posts_grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
