.post_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 100px auto;
  column-gap: 20px;
  row-gap: 70px;
}

.single_post_teaser {
  width: 100%;
  border-bottom: 1px solid black;
  max-width: 300px;
}

.single_post_teaser img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
